.App {
  text-align: center;
  background-color: antiquewhite;
}


.article_card {
  border-style: groove;
  border: 5px bold goldenrod;
  

}
.article_button {
  text-align: right;
}

.articles {
  display: grid
}
#welcome {
  font-family: 'Playfair Display', serif;
  font-size: large;
  background-color: blue;
  color: antiquewhite;
}

ul {
  list-style-type: none;
  text-align: left;

}    

li {
  position: relative
}

button {
  position: absolute;
    right: 1000px;
    bottom: 0;
}